{% extends 'layout.html' %}

{% block body %}
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default col-md-offset-3">
                        <div class="panel-heading main-color-bg">
                            <h3 class="panel-title">PLEASE SELECT A SERVER</h3>
                        </div>
                        <div class="panel-body">
                            <div class="well well-lg">
                                {% for guild in render_guild %}
                                    <h4>
                                        <img class="img-responsive" style="display:inline-block; height:30px; margin-top-5px" src="https://cdn.discordapp.com/icons/{{ guild['id'] }}/{{ guild['icon'] }}.png" />
                                        {{ guild['name'] }}
                                        <button type="button" class="btn btn-success pull-right">Go To Dashboard</button>
                                    </h4>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}